@import "tailwindcss";

/* dark theme base */
body {
  background-color: #000000;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}